body,
html {
  margin: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Raleway';
  font-size: 17px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.container {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }

  .container.wide {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
  }

  .container.wide {
    margin: 0 auto;
    width: 85%;
    max-width: 1200px;
  }
}

#navbar {
  background: #1bbecf;
  color: white;
  padding: 16px 0;
}

.navbar-title {
  margin: 0;
}

.navbar-left {
  width: 100%;
  text-align: center;
}

.navbar-right {
  width: 100%;
  display: flex;
  text-align: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {
  #navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-left {
    width: fit-content;
  }

  .navbar-right {
    flex: auto;
    display: flex;
  }

  .navbar-menu {
    justify-content: flex-end;
  }
}

.navbar-menu-item {
  font-size: 16px;
  font-weight: bold;
}

.navbar-menu-item a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
}

.navbar-menu-item:hover,
.navbar-menu-item.active {
  box-shadow: 0px 2px 0px 0px white;
}

.title {
  text-align: center;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 28px;
}

.title::after {
  width: 20%;
  min-width: 135px;
  margin: 0 auto;
  content: '';
  display: block;
  height: 2px;
  background: #1bbecf;
  top: 10px;
  position: relative;
}

section {
  margin: 36px 0;
}

#about .grid {
  display: block;
  width: 100%;
}

@media (min-width: 576px) {
  #about .grid {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 100%;
    width: calc(100% + 48px);
    margin: 0 -24px 0 -24px;
  }
}

.column {
  padding: 0px 24px;
}

#blog-button {
  margin: 24px auto !important;
}

.button {
  padding: 10px 18px;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  color: white;
  background: #f5ac10;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin: 24px 0;
  transform: skew(21deg);
  cursor: pointer;
}

.button:hover {
  background: #fcbe3a;
  transition-duration: 0.25s;
}

.button:active {
  transform: scale(1.1) skew(21deg);
  transition-duration: 0.25s;
}

.button span {
  display: inline-block;
  transform: skew(-21deg);
}

#posts a {
  text-decoration: none !important;
  color: black;
}

#posts .grid {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  grid-template-columns: 100%;
}

@media (min-width: 769px) {
  #posts .grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1200px) {
  #posts .grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.post-preview {
  max-width: 70%;
  width: fit-content;
  box-shadow: 2px 2px 20px 0px #ddd;
  border-radius: 8px;
  margin: 16px auto;
  border: 1px solid #ddd;
}

@media (min-width: 769px) {
  .post-preview {
    max-width: 100%;
    margin: 16px 12px;
  }

  .post-preview:first-child {
    margin-left: 0;
  }

  .post-preview:last-child {
    margin-right: 0;
  }
}

.post-preview img {
  width: 100%;
}

.post-preview-title {
  padding: 0 24px;
}

.post-preview-description {
  padding: 0 24px 24px;
}

.full-width {
  width: 100%;
}

.about-text:first-child {
  margin-top: 0;
}

#footer {
  background: rgb(71, 71, 71);
  border-top: 2px solid #1bbecf;
  color: white;
  padding: 32px;
  margin-bottom: 0;
}

#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 524px) {
  #footer {
    padding: 20px;
  }
  #footer .flex {
    flex-direction: row;
  }
}

#footer h2,
#footer h5 {
  margin: 0;
}

@media (max-width: 523px) {
  #footer h5 {
    margin-top: 24px;
  }
}

.post-title {
  margin-bottom: 0;
  color: darkslateblue;
}

.author-box {
  width: 100%;
  background: rgb(233, 233, 233);
  border: 2px solid #ccc;
  padding: 12px;
}

.author-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.author-image {
  width: 50%;
  max-width: 125px;
}

.author-details {
  margin-top: 12px;
}

.author-name {
  margin-top: 0;
  margin-bottom: 4px;
}

.author-title {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 12px;
}

.author-bio {
  margin: 0;
}

@media (min-width: 500px) {
  .author-flex {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .author-image {
    width: 75px;
    height: 75px;
  }

  .author-details {
    margin-left: 24px;
    margin-top: 0;
  }

  .author-name {
    margin-top: 0;
    margin-bottom: 4px;
  }

  .author-title {
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 6px;
  }

  .author-bio {
    margin: 0;
  }
}
